chromium/*
.git/
cmus/resume
cmus/queue.pl
cmus/search-history
cmus/cache
cmus/command-history
rtorrent/session/*
offlineimap/Account-Gmail/*
offlineimap/pid
luakit/local-share/cookies.db
luakit/local-share/session
luakit/local-share/history.db
ssh/chromebook/id_rsa
ssh/dell/id_rsa
mutt/password
conky/password.py
calibre
weechat/logs/
