[Unit]
Description=start wpa_supplicant

[Service]
ExecStart=/home/aidan/.config/internet/wireless/wireless-connect.sh
Type=oneshot
User=root


[Install]
WantedBy=multi-user.target
